import React from 'react';

export interface {{pascalCase name}}PageProps {}

const {{pascalCase name}}Page : React.FC<{{pascalCase name}}PageProps>= props => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}}Page